.leaderboard {
  position: relative;
  top: 0;
  height: fit-content;
  background-color: white;
  margin: auto;
  > .title {
    margin: 12px 0px 36px 0px;
    text-align: center;
  }
  > .participants {
    margin-top: 12px;
    overflow-y: scroll;
    padding: 8px 8px 32px 8px;
    > .participant {
      display: flex;
      border-bottom: 1px solid #64748b;
      padding-bottom: 12px;
      gap: 24px;
      width: 100%;
      align-items: center;
      > .ranking {
        background-color: #94a3b8;
        color: white;
        width: 36px;
        height: 36px;
        display: grid;
        place-content: center;
        rotate: 45deg;
        border-radius: 4px;
        > .text {
          rotate: -45deg;
        }
      }
      > .info {
        flex: 1 1 0;
        justify-content: space-between;
        column-gap: 8px;
        row-gap: 0px;
        > .name {
          color: #0f172a;
          font-weight: 600;
        }
        > .score {
          color: #020617;
          > strong {
            color: #0f172a;
          }
        }
      }
      &.first {
        border-color: #f59e0b;
        > .ranking {
          background-color: #fcd34d;
          color: white;
        }
        > .info {
          > .name {
            color: #713f12;
          }
          > .score {
            color: #422006;
            > strong {
              color: #713f12;
            }
          }
        }
      }
      &.second {
        border-color: #6b7280; /* 500 */
        > .ranking {
          background-color: #9ca3af; /* 400 */
          color: white;
        }
        > .info {
          > .name {
            color: #0f172a; /* 900 */
          }
          > .score {
            color: #030712; /* 950 */
            > strong {
              color: #0f172a;
            }
          }
        }
      }
      &.third {
        border-color: #854d0e; /* 500 */
        > .ranking {
          background-color: #b45309; /* 400 */
          color: white;
        }
        > .info {
          > .name {
            color: #78350f; /* 900 */
          }
          > .score {
            color: #451a03; /* 950 */
            > strong {
              color: #78350f;
            }
          }
        }
      }
    }
    > .glow {
      position: absolute;
      left: -12px;
      z-index: 2;
      bottom: 0;
      width: calc(100% - 30px);
      height: 24px;
      background: linear-gradient(
        to top,
        white,
        transparent
      );
    }
  }
}