* {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #0C152A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', serif;
}

html, body {
  overflow: hidden;
}
body {
  min-height: 100dvh;
  background: linear-gradient(to top, #0C152A 50%, #0C152A80), url('/bg.png');
}

/* Remove scrollbars (Webkit browsers) */
::-webkit-scrollbar {
  display: none;
}