* {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', serif;
}

body {
  background-color: #0C142B;
}