* {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #0C152A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', serif;
}

html, body {
  background-color: #0C142B;
  overflow: hidden;
}

/* Remove scrollbars (Webkit browsers) */
::-webkit-scrollbar {
  display: none;
}