.navigation {
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  > .button {
    all: unset;
    border-radius: 99px;
    cursor: pointer;
    height: 48px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #0C152A !important;
    }
    background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      #FAD14A 50%,
      #FAD14A 100%);
    background-size: 200%;
    transition: .6s cubic-bezier(0,1.06,.63,1.01);
    &:hover {
      background-position: -100%;
      span {
        color: white !important;
      }
    }
  }
}